/* work sans font from google foonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@800&family=Work+Sans:wght@800&display=swap');

/* shared styles */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;

}

.img-logo {
    display: flex;
    margin-left: 200px;
}


.img-icon {
    width: 86.041px;
    height: 40px;
    margin-top: 50px;
}

nav>ul {
    display: flex;
    list-style: none;
}

.primary {
    align-items: center;
}

.design {
    color: #FF42A5;

}

nav li {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.btn-primary a {
    text-decoration: none;
    color: #3C354F;
    width: 262px;
    height: 56px;
    padding: 40px 40px;

}

.btn-primary {
    margin-right: 200px;
    border: none;
    color: #3C354F;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}

/* banner section */
.banner-title {
    color: #0B0223;
    margin-top: 200px;
    font-size: 48px;

}

section ul li {
    list-style: none;
}

.banner-section {
    justify-content: space-between;
    background-color: #f6edf3;
    width: 1901px;
    height: 700px;
}

.banner {
    display: flex;
}

.banner-img {
    width: 1920px;
    height: 800px;
}

.banner-goat {
    /* text-align: center; */
    font-size: 95px;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner {
    text-align: center;
}

.banner-description {
    color: #534C64;
}

.btn-power {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    border: 0;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

#btn-power-g {
    border-radius: 48px;
    background: #4EC5F7;

}

/* funny section */
.funny-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.funny-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
    /* line-height: 30px;  */
}

.test {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.watch {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    /* justify-content: space-around; */
    justify-content: center;
}

.pic-title {
    color: #534C64;
    margin-top: 20px;
    font-size: 18px;

    font-weight: 500;

}

/* live play instantly */
.live-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    width: 1000px;
}

.live-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}

.instantly {
    display: flex;
    text-align: right;
    margin-top: 100px;
    justify-content: space-around;
    height: 900px;
}

.instantly-container {
    text-align: right;
}

.play-instantly {
    color: #F948B2;
}

.angel {
    position: relative;
    right: 700px;
    bottom: 300px;
    border-radius: 8px;
    border: 1px solid #f9dcdc;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;

}

.hourse {
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
    margin-right: 244px;

}

.angel-hourse {
    text-align: right;

}

/* games chose item */
.photo-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 350px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    /* text-align: center; */
}

.photo-icon {
   display: flex;
    border-radius: 50px;
    background: #FFF;
    width: 248px;
    height: 80px;
    align-items: center;
   margin: 50px;
   cursor: pointer;
   
}


.photo-icon-nice {
    align-items: center;
    text-align: center;
    margin-left: 10px;
}


/* footer section */
.footer-black {
    background: #0B0223;
    /* width: 920px; */
    height: 500px;
    flex-shrink: 0;
}

.foter-content {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;

}

.foter-title {
    font-size: 45px;
    font-weight: 700;
    color: #FFF;

}

.foter-design {
    color: #FF42A5;
}

.footer-icon {
    width: 86.041px;
    height: 40px;
    margin-top: 50px;
}

.foter-li {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
}


.logo-icon {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-line {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    margin-top: 50px;
}

.footer-warning {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    display: flex;
    margin-bottom: 100px;
}
